.content-page{
 width: 50%;
 height: auto;

 margin: 10em;
    
}
.content-page2{

 width: auto ;
 height: 100em;

 
    
}

.content-page3{
 width: auto;
 height: 100em;

 
    
}

.content-page4{
 width: auto;
 height: 100em;


    
}
