.myfooter{
  width:100%;
  position:fixed;
  border-top:1px solid #aaa;
  bottom:-120px;
  background-color:#F3FCF8;
  height:160px;
  font-family: Arial, Helvetica, sans-serif;
  transition:all 0.2s ease;
  padding-left:20px;
  font-size: 13px;
  font-weight: 400;
}

.myfooter:hover{
  bottom:0;
}
.myfooter a{
  font-family: Arial, Helvetica, sans-serif;

}
.myfooter h1{
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  float:left;
  width:100%;
  height:15px;
  padding:10px  10px 0;
  margin-bottom: 30px;
  text-align:center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
   text-transform:uppercase;
  letter-spacing:5px;
  word-spacing:15px;
}



