.navbar {
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.navbar .link{
color: white;
}
.linkText{
  color: white;
}
#basic-nav-dropdown{
  color: white;
  font-size: 15px;
  
}
.text-white{
  font-size: 15px;
  padding: auto;
}
.navbar .dropdown-menu {
  background-color: #1D976C;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #85E6FF;
  background-image: none;
}
#basic-nav-dropdown:hover, #programitem:hover, 
#home:hover, #aboutus:hover,
#ourvision:hover, #album:hover,
#newsletter:hover, #donate:hover, #contactus:hover
{
  background-color: lightgreen;
}


#programitem.active{
  color: #fff;
  background-color: lightgreen;
}

#pachalogo{
  width:50px; 
  /* mix-blend-mode: multiply; */

}
#yoreemlogo{
width:50px; 
height: 50%;
}
/* #contact {
  background: #524646;
  height: 100%;
  position: relative;
  width: 100%;
  padding-top: 96px;
  padding-bottom: 102px;
  justify-content: center;
  margin-bottom: -500;
  color: #636363;
}

.eight.columns{
width: 100%;
}

#contact .section-head { margin-bottom: 42px; }
#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h1 {
  font: 18px/24px opensea-bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #EBEEEE;
  margin-bottom: 6px;
}

#contact h1 span { display: none; }
#contact h1:before {
  font-family: 'FontAwesome';
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #ebeeee;
}

#contact form { margin-bottom: 30px; }
#contact label {
  font: 15px/24px opensea-bold, sans-serif;
  margin: 12px 0;
  color: #EBEEEE;
  display: inline-block;
  float: left;
  width: 6%;
  margin-left: 5%;
}

#contact input,
#contact textarea,
#contact select {
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 40%;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
  color: #fff;
  background-color: #11ABB0;
}

#contact button.submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  color:#fff;
  background: #0D0D0D;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 5px;
  margin-left: 10%;
  padding: 10px;
}

#contact button.submit:hover {
  color: #0D0D0D;
  background: #fff;
}

#contact span.required {
  color: #11ABB0;
  font-size: 13px;
}

#message-warning, #message-success {
  display: none;
  background: #0F0F0F;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
  margin-right: 10px;
}
#image-loader {
  display: none;
  position: relative;
  left: 18px;
  top: 17px;
} */
.box_shw2 {
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 25px;
}

.f_12_14 {
  font-size: 12px;
  line-height: 14px !important;
}

.f_20_22 {
  font-size: 20px;
  line-height: 22px !important;
}

.bg_grey {
  background-color: #f1f1f1 !important;
}

.w_500 {
  width: 500px;
  max-width: 100%;
}
#contactcard{
  top:25px;
  width: 50%;
}