.Album {
    font-family: sans-serif;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }

  .style{
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
    
  }
  .ui.segment{
    color: white;
    text-align: center;
    
  }

  .image{
      width: 80%;
      height:70%;
   
  }
 