.Album {
    font-family: sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }

  .style{
    background-color: #616161;
    position: relative;
  }
  .ui.segment{
    color: white;
    text-align: center;
    border-color: thistle;
    

  }

 